# SPDX-FileCopyrightText: 2022 Foundation Devices Inc.
#
# SPDX-License-Identifier: GPL-3.0-or-later

[package]
name = "tor"
version = "0.0.5"
authors = ["Igor Cota <igor@foundationdevices.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
lazy_static = "1.4"
tokio = { version = "1", features = ["full"] }
arti-client = { version = "0.19.0", features = ["static"] }
arti = { version = "1.2.4", features = ["experimental-api", "static"] }
tor-rtcompat = { version = "0.19.0", features = ["static"] }
tor-config = "0.19.0"
log = "0.4.20"
#android_log-sys = "0.3.1"
rlimit = "0.10.1"
anyhow = "1.0.79"

[build-dependencies]
cbindgen = "= 0.24.3"
